html, body{
  height: 100%;
}
*{
  box-sizing: border-box;
}
body{
}
.content{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-top: 100px;
}
.temperature{
  place-self: center;
  font-size: 100px;
}
input{
  justify-self: center;
  border-radius: 5px;
  border: 1px solid black;
  min-width: 200px;
}